@use "./variables";

.footer__container {
  padding-top: 4rem;
  padding-bottom: 10rem;
  margin-top: 5rem;
  background-color: #eee;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__content {
    p {
      font-size: 1.2rem;
    }
    ul {
      align-self: start;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2rem;
      a {
        text-decoration: none;
        color: variables.$color-outline;
        display: flex;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 1rem;
          margin-top: 0.2rem;
        }
      }
    }
  }
  .button {
    position: relative;
    align-self: flex-end;
    height: 10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10rem;
    &::before {
      content: "";
      position: absolute;
      top: -8rem;
      background-image: url(../assets/mobile/icons/Arrow.svg);

      width: 100%;
      height: 100%;

      transform: scale(1.5);

      //   background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      //   transform: rotate(10deg);
    }
  }
  button {
    margin-top: -3rem;
    position: relative;
    animation: rotate 5s linear infinite;

    height: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: white;

    border: 0.5px solid black;

    display: inline-block;
    color: white;

    &::after {
      content: "Top";
      position: absolute;
      display: block;
      top: 60%;
      left: -220%;
      background: #000;
      z-index: -1;
      font-size: 3rem;
      //   transform: rotate(10deg);
    }
  }
}

@media screen and (min-width: 650px) {
  .footer__container {
    padding-bottom: 0rem;
    margin-top: 0rem;

    &__content {
      align-self: start;
      margin-left: 7rem;
    }
    .button {
      margin-right: 7rem;
    }
  }
}
