@use "./variables";

.hero__container {
  &__content {
    &__upper {
      &__up {
        margin-top: 3rem;
        &__heading {
          font-size: 3.1rem;
          margin-top: 3rem;
          span {
          }
        }

        &__paragraph {
          font-size: 1.5rem;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
        &__images {
          display: flex;
          column-gap: 0.5px;
          li {
          }
        }
      }
      &__low {
        &__images {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          li {
            &:nth-of-type(1) {
              grid-area: 1/2;
              transform: translateY(-5%) translateX(-25%);
              //   box-shadow: 0px 0px 25rem 2rem rgba(0, 0, 0, 0.48);
            }
            &:nth-of-type(3) {
              grid-area: 2/2;
              transform: translateY(-35%) translateX(5%) scale(0.6);
              box-shadow: inset 0px 0px 6.47445px 1.5234px rgba(0, 0, 0, 0.25);
              z-index: -1;
            }
            &:nth-of-type(2) {
              //   grid-area: 2/2;
              transform: translateY(25%) translateX(10%) scale(0.8);

              outline: 0.8rem solid variables.$color-outline;
              outline-offset: 2rem;
              animation: outline 3s linear infinite;
            }
          }
        }
      }
    }
    &__lower {
      margin-top: -10rem;
      &__paragraph {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
      }
      a {
        text-decoration: none;
        button {
        }
      }
    }
  }
}

@keyframes scale {
  0% {
    transform: scale(30);
  }
  100% {
    transform: scale(1);
  }
}
