.svg {
  stroke: #ffffff;
  color: #ffffff;
}
.menu__container {
  position: fixed;
  z-index: 6;
  bottom: 0;
  background-color: #151515;
  height: 7rem;
  width: 100%;

  &__content {
    height: 100%;
    &__logo {
      display: none;
    }
    &__links {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      a {
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0.5rem;
      }
    }
  }
}

.active {
  color: #6c8a88;
  stroke: #6c8a88;

  &:active,
  &:target {
    animation: active 0.5s ease-in-out;
  }
}

@keyframes active {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 650px) {
  .svg {
    stroke: #000000;
    color: #000000;
  }
  .menu__container {
    position: fixed;
    z-index: 6;
    bottom: 0;
    top: 0;
    background-color: #d0d0d0;
    height: 10rem;
    width: 100%;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      &__logo {
        display: inline-block;
        flex: 80%;
      }
      &__links {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
          color: #000000;
          flex-direction: row;
          column-gap: 0.5rem;
          font-size: 1.5rem;
          span {
            svg {
            }
          }
        }
      }
    }
  }
}
